<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.js"></script>
    <title>Mushrooms</title>
</head>
<body>
        <input ng-model="searchBy" value="Rma" type="radio" name="Poisonous">
        <input ng-model="searchBy" value="Delivery" type="radio" name="Non-Poisonous">
    
</body>
</html>